@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700");
/*@import "compass";*/
/*@import "compass/reset";*/
/* mixins.scss */
/*_variables.scss */
/* Body Text Styles */
/*_typography.scss*/
body {
  color: #636363;
  font-size: 16px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.why, .how {
  color: #ed1c24; }

/*_vendor-notes.scss */
body {
  background-color: #f9f5f2; }

ul {
  list-style-type: disc; }
  ul li {
    margin: 0px 0px 10px 30px; }

em {
  font-style: italic; }

a {
  color: #1799e4;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
  transition: color 1s ease; }

a:hover {
  color: #ed1c24;
  transition: color 1s ease; }

a.disabled {
  color: #D7D7D7;
  cursor: default; }

hr {
  background-color: #D7D7D7;
  border: none;
  height: 1px; }

#rss-icon {
  padding-left: .5em;
  vertical-align: middle; }

#header {
  background: #9b5703;
  background-image: url(../images/vrn-bg.jpg);
  background-repeat: no-repeat;
  background-position: 50% 30%;
  background-size: cover;
  height: 227px;
  margin: 0px auto;
  text-align: center;
  width: 100%; }
  #header h1 {
    color: white;
    font-size: 32px;
    margin: 30px auto 0;
    padding: 0 20px; }
  #header #homepage-link {
    color: white;
    font-weight: 400;
    margin: 10px auto 0;
    text-decoration: none;
    font-size: 19.2px;
    display: inline-block;
    padding: 0 20px; }
  #header #homepage-link:hover {
    color: #ed1c24; }

#main-content {
  background: white;
  padding: 0 15px;
  margin: -4em auto 15px auto;
  width: 80%;
  max-width: 1100px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3); }
  @media (max-width: 600px) {
    #main-content {
      margin-top: -3em; } }
  @media (max-width: 450px) {
    #main-content {
      margin-top: -1em; } }
  #main-content h2, #main-content #introduction h1 {
    color: #1799e4;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 22.4px; }
  #main-content #introduction {
    padding: 1% 15px; }
    #main-content #introduction h1 {
      font-size: 32px;
      padding-bottom: .5em; }
    #main-content #introduction p {
      padding-bottom: 1em; }
  #main-content #filter-section {
    padding: 1% 15px;
    background-color: #f9f5f2;
    color: grey; }
    #main-content #filter-section h3, #main-content #filter-section #display-all-releases, #main-content #filter-section #display-all-releases.disabled, #main-content #filter-section select {
      padding: 1% 15px;
      display: inline; }
    #main-content #filter-section input {
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
      -ms-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
      -o-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
      border: none; }
    #main-content #filter-section #display-all-releases, #main-content #filter-section #display-all-releases.disabled {
      color: white;
      background-color: #1799e4;
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
      -ms-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
      -o-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
      height: 3em;
      padding: 0px 15px;
      transition: color 1s ease;
      cursor: pointer; }
    #main-content #filter-section .disabled#display-all-releases {
      color: grey;
      cursor: not-allowed;
      background-color: #D7D7D7;
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
      -ms-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
      -o-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3); }
    #main-content #filter-section select {
      height: 3em;
      padding: 0px 0px 0px 1em;
      margin: 0px 15px;
      min-width: 11em; }
  #main-content #releases-section .release-header {
    padding: 1% 15px;
    background-color: #1799e4;
    color: white;
    font-style: italic;
    width: 100%-calc(15px  * 2); }
  #main-content #releases-section .change {
    padding: 1% 15px; }
    #main-content #releases-section .change .change-header h2, #main-content #releases-section .change .change-header #introduction h1, #main-content #introduction #releases-section .change .change-header h1 {
      font-weight: 100; }
    #main-content #releases-section .change .change-header .change-title {
      max-width: calc(100% - 150px); }
    #main-content #releases-section .change .change-header .change-system {
      color: grey;
      display: inline;
      float: right; }
    #main-content #releases-section .change .change-type {
      color: #ed1c24;
      font-style: italic;
      font-weight: 100; }
  #main-content #footer {
    padding: 1% 15px;
    text-align: center;
    width: 100%; }
    #main-content #footer #load-more-releases, #main-content #footer #load-more-releases.disabled {
      font-size: 22.4px; }
      #main-content #footer #load-more-releases #load-more-releases-icon {
        color: #ed1c24; }
    #main-content #footer .disabled#load-more-releases #load-more-releases-icon {
      color: #D7D7D7; }

h2.system-tag, #main-content #introduction h1.system-tag {
  content: "eOffer";
  color: #636363;
  font-size: 22.4px;
  display: inline-block;
  width: 15%;
  text-align: right;
  float: right; }

.system-tag::after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.change h3, .change #main-content #filter-section #display-all-releases, #main-content #filter-section .change #display-all-releases, .change #main-content #filter-section select, #main-content #filter-section .change select {
  color: #ed1c24;
  font-style: italic; }

.update {
  font-weight: 300;
  color: #ed1c24;
  font-style: italic;
  margin-bottom: 10px; }

.change-question {
  margin: 30px 0px 10px 0px; }

.change p {
  line-height: 20px;
  margin: 5px 0px 15px 0px; }

/* Screenshot Styles */
.figCaption {
  text-align: left;
  font-weight: 600;
  color: #333;
  margin: 0;
  padding: 0; }

.clickTo {
  text-align: left;
  font-style: oblique;
  color: #ed1c24;
  margin: 0 0 1.5em 0;
  padding: 0; }

.screenshotContainer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px; }

.screenshotBox {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  display: table;
  min-width: 280px; }

.screenshotBox img {
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  height: auto;
  border: solid 1px #333; }

.screenshotText {
  display: table-caption;
  caption-side: bottom;
  padding: 0px;
  margin-top: 10px; }

.scrollup {
  width: 40px;
  height: 40px;
  opacity: 0.4;
  position: fixed;
  bottom: 3%;
  right: 4%;
  display: none;
  text-indent: -9999px;
  background: url(../images/icon_top.png) no-repeat;
  z-index: 1000; }

/*# sourceMappingURL=styles.css.map */
